---
layout: default
title: Features
suppress_header: true
extra_css:
  - features.css
extra_js:
  - libs/jquery.magnific-popup.min.js
---
.wrapper
  .wide-feature.mr
    .row
      .col-md-12
        .name
          powerful
          %b code review
        .description
          Merge requests with line-by-line comments, CI and issue tracker integrations and much more...
      .wide-img
        %a.image-link{href: "/images/feature_page/screenshots/mr_sh.png"}
          = image_tag "/images/feature_page/screenshots/mr_sh.png", class: "img-responsive"
      .wide-feature-link
        %a.btn-default{href: "https://gitlab.com/gitlab-org/gitlab-ce/merge_requests"} See merge requests in action
  .container
    .row.feature-row.first
      .col-md-4.small-feature
        .name
          MERGE CONFLICT
          %b RESOLUTION
        %a.image-link{href: "/images/feature_page/screenshots/02-merge-conflicts.png"}
          = image_tag "/images/feature_page/screenshots/02-merge-conflicts.png", class: "img-responsive"
      .col-md-4.small-feature
        .name
          ACTIVITY
          %b STREAM
        %a.image-link{href: "/images/feature_page/screenshots/03-activity.png"}
          = image_tag "/images/feature_page/screenshots/03-activity.png", class: "img-responsive"
        .link
          %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/activity"} Have a look at an actual activity page
      .col-md-4.small-feature
        .name
          FILE
          %b BROWSER
        %a.image-link{href: "/images/feature_page/screenshots/04-file-browser.png"}
          = image_tag "/images/feature_page/screenshots/04-file-browser.png", class: "img-responsive"
        .link
          %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/tree/master"} Try navigating GitLab's code
    .row.feature-row
      .col-md-4.small-feature
        .name
          ISSUE
          %b MANAGEMENT
        %a.image-link{href: "/images/feature_page/screenshots/05-issue-management.png"}
          = image_tag "/images/feature_page/screenshots/05-issue-management.png", class: "img-responsive"
        .link
          %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/issues"} See how GitLab uses issues
      .col-md-4.small-feature
        .name
          ISSUE
          %b BOARD
        %a.image-link{href: "/images/feature_page/screenshots/06-issue-board.png"}
          = image_tag "/images/feature_page/screenshots/06-issue-board.png", class: "img-responsive"
        .link
          %a{href: "https://about.gitlab.com/solutions/issueboard/"} Learn how to create your own Issue Board 
      .col-md-4.small-feature
        .name
          CODE
          %b SNIPPETS
        %a.image-link{href: "/images/feature_page/screenshots/07-code-snippets.png"}
          = image_tag "/images/feature_page/screenshots/07-code-snippets.png", class: "img-responsive"
    .row.feature-row
      .col-md-4.small-feature
        .name
          GITLAB
          %b CI
        %a.image-link{href: "/images/feature_page/screenshots/08-ci.png"}
          = image_tag "/images/feature_page/screenshots/08-ci.png", class: "img-responsive"
        .link
          %a{href: "https://about.gitlab.com/gitlab-ci"} Read more on GitLab CI
      .col-md-4.small-feature
        .name
          REVIEW
          %b APPS
        %a.image-link{href: "/images/feature_page/screenshots/09-review-apps.png"}
          = image_tag "/images/feature_page/screenshots/09-review-apps.png", class: "img-responsive"
      .col-md-4.small-feature
        .name
          CONTAINER
          %b REGISTRY
        %a.image-link{href: "/images/feature_page/screenshots/10-container-registry.png"}
          = image_tag "/images/feature_page/screenshots/10-container-registry.png", class: "img-responsive"
    .row.feature-row.last
      .col-md-4.small-feature
        .name
          CYCLE
          %b ANALYTICS
        %a.image-link{href: "/images/feature_page/screenshots/11-cycle-analytics.png"}
          = image_tag "/images/feature_page/screenshots/11-cycle-analytics.png", class: "img-responsive"
        .link
          %a{href: "https://about.gitlab.com/solutions/cycle-analytics/"} Measure your team's cycle time 
      .col-md-4.small-feature
        .name
          GITLAB
          %b PAGES
        %a.image-link{href: "/images/feature_page/screenshots/12-pages.png"}
          = image_tag "/images/feature_page/screenshots/12-pages.png", class: "img-responsive"
        .link
          %a{href: "https://pages.gitlab.io/"} Create a website for your project 
      .col-md-4.small-feature
        .name
          GIT POWERED
          %b WIKI
        %a.image-link{href: "/images/feature_page/screenshots/13-wiki.png"}
          = image_tag "/images/feature_page/screenshots/13-wiki.png", class: "img-responsive"
    .row.features-bottom-cta
      .col-md-12
        %a.btn.cta-btn.red{href: "/products"} Explore Our Products

= partial "includes/features/gitlab-ee-trial"
